doctype html
html
    head
        block head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Natours || #{title}
        //- title Natours || Exciting tours for adventure people #{tour}
        //- #{tour} is called interpolation it is js but it needs to be added directly like title=tour and again there is a string infront of it which is not  js so it can be called by using #{}
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png'  href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        script(src="https://js.stripe.com/v3/")



    body
        //- this is called buffer code
        //- h1= tour
        //- h2= user.toUpperCase()
        //- // h1 The park Camper.This comment  will be visible in html
        //- //- h1 The park Camper.This comment will not  be visible in html
        //- - const x =9;
        //- //- this is called unbuffered code. -should be written
        //- h2=2*x

        //- p This is just some text

        include _header 

        //- content 
        //- section.overview
        //-     h1=tour 
        //- it is like yield in laravel and the name is given content like yield('content') in laravel .  This content will be overridden like in te tour and overview layout template
        block content 
            h1 This is a placeHolder heading

        include _footer

        
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js')
        //- script(src='/js/mapBox.js')
        //- script(src='/js/login.js')
        //-it comes using parcel 
        script(src='/js/bundle.js')







             
    