extends base
include _reviewCard
//- whatever we write in the block head will be appended not overwritten like other block cause we have specified append(at the end)
//- for mapbox useing the script u need to login and get it from there
//- we are integrating the mapbox on this page and not on base pug cause it will run only on this file
block append head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')

    //-script(src='/js/mapBox.js')

//- ussing the mixin process to follow dry  label is description
//- use mixin nameoffunction(parameter which needs to pass down)
mixin overviewBox(label,text,icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label=label
        span.overview-box__text=text


block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
        .heading-box    
            h1.heading-primary
                span=tour.name
            .heading-box__group 
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="/img/icons.svg#icon-clock")
                    span.heading-box__text=`${tour.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href="/img/icons.svg#icon-clock")
                    span.heading-box__text=`${tour.startLocation.description}`
    section.section-description
        .overview-box
            div 
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    //- using js which is not use 
                    - const date =tour.startDates[0].toLocaleString(en-us,{month:'long',year:'numeric'})

                    +overviewBox('Next date',date,'calendar')
                    +overviewBox('Difficulty',`${tour.difficulty}`,'trending-up')
                    +overviewBox('Participant',`${tour.maxGroupSize}`,'user')
                    +overviewBox('Rating',`${tour.ratingsAverage}/5`,'star')

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                            - if(guide.role ==='lead-guide')
                                span.overview-box__label Lead guide
                            - if(guide.role ==='guide')
                                span.overview-box__label  Tour guide    
                            span.overview-box__text=guide.name     

        .description-box    
            h2.heading-secondary.ma-bt-lg=`About ${tour.name}`
            //- split the string by newline character
            - const paragraph = tour.description.split('\n');
            each p in paragraph 
                p.description__text= p

    //- in the pug loop we can define a sceond variable which is called index  which is here called i  
    //- our location is an array so transferring into string and there data-location is the attribute property by using JSON.stringify so it will be div id="map" data-locations=[{"type":"Point","coordinates":[-106.855385,39.182677],"_id":"5c88fa8cf4afda39709c295c","description":"Aspen Highlands","day":1},{"type":"Point","coordinates":[-106.516623,39.60499],"_id":"5c88fa8cf4afda39709c295b","description":"Beaver Creek","day":2}].
    //- it is stored in the dataset property and can be read by the js file 
    //-we dont have to do axax request cause we already have ll the tour data in our tour page so we can convert it to string so js can read from the html in map section
    //- we also have defined the data attribute that is data-locations(name) so that it can be read by js file.In html we cannot have array or object juct string that is why we have transferred it to string
    //- it will be like this <div id="mao" data-locations="[{"type":"Point","coordinates":[-80.128473,25.781842],"_id":"5c88fa8cf4afda39709c2959","description":"Lummus Park Beach","day":1},{"type":"Point","coordinates":[-80.647885,24.909047],"_id":"5c88fa8cf4afda39709c2958","description":"Islamorada","day":2},{"type":"Point","coordinates":[-81.0784,24.707496],"_id":"5c88fa8cf4afda39709c2957","description":"Sombrero Beach","day":3},{"type":"Point","coordinates":[-81.768719,24.552242],"_id":"5c88fa8cf4afda39709c2956","description":"West Key","day":5}]"

    section.section-pictures
        each image,i in tour.images
            .picture-box
                img.picture-box__img(src=`/img/tours/${image}`, alt=`${tour.name} Tour ${i+1}`, class=`picture-box__img--${i+1}`)





    section.section-map
        #map(data-locations =`${JSON.stringify(tour.locations)}`)               
    section.section-reviews 
        .reviews
            each review in tour.reviews 
                +reviewCard(review)   

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src="/img/logo-white.png", alt="Natours logo")
            each image in tour.images    
                img.cta__img.cta__img--1(src=`/img/tours/${image}`)
            .cta__content
                h2.heading-secondary What ar you waiting for?
                p.cta__text= `${tour.duration} days 1 adventure. Infinite memories. Make it yours today!`
                button.btn.btn--green.span-all-rows Book tour now!          














